::selection { color: var(--selection-text); background:  var(--selection-bg);}

:focus {
    /* background-color: var(--link-hover); */
    outline: 2px solid transparent;
    outline-offset: 2px; 
    transition: outline 0.3s;
}

body {
    
    background-color: var(--background);
    font-family: var(--font-text);
    background-image: url("../imgs/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden; 
    /* overflow-y: auto; */ 
}

.img.animated:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    transition: transform 0.3s ease; /* Smooth transition */
}

main {
    margin-top: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffffd7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    background-color: var(--btn);
    color: var(--light-text);
    padding: 10px;
    border-radius: 5px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    /* margin-top: 20px; */
}

footer p {
    color: #777;
}
